@charset "UTF-8";

* {
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}

body {
	-ms-user-select: none; 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.nm {
	padding: 10px;
	margin-left: 40px;
	width: 430px;
	height: 30px;
	line-height: 40px;
	/* background: lime; */
	color: #684107;
	font-weight: bold;
	font-size: 12pt; 
}
.one_line {
	display: flex;
	
}

.box1 {
	padding: 5px;
	margin: 0 0 5px 40px;
	width: 300px;
	height: 40px;
	border-radius: 10px;
	border: none;
	color: #684107;
	border: 1px solid #ff770017;
	font-size: 10pt;
	text-indent: 11px;
	font-family: 'Noto Serif KR', serif;
}
.box2 {
	padding: 5px;
	margin: 0 0 5px 40px;
	width: 380px;
	height: 40px;
	border-radius: 10px;
	border: 0.5px solid #ff770017;
	color: #684107;
	font-size: 10pt;
	text-indent: 11px;
	font-family: 'Noto Serif KR', serif;
}

.btn_check, .id_check {
	padding: 5px;
	margin: 3px 0 0 10px;
	width: 55px;
	height: 34px;
	background: #ff6600b8;
	border-radius: 10px;
	color: #fff;
	font-size: 9pt;
	text-align: center;
}
.btn_big {
	padding: 5px;
	margin: 3px 0 0 50px;
	width: 380px;
	height: 40px;
	line-height: 40px;
	background: #fc6902ff;
	border-radius: 10px;
	color: #fff;
	font-size: 13pt;
	text-align: center;
}

.btn_check:hover, .btn_big:hover {
	cursor: pointer;
}

.sign_up {
	margin: auto;
	padding-top: 50px;
	width: 520px;
	height: 80px;
	/* background: green; */
}



/* ******************************** */
.wrap {
	margin: auto;
	width: 800px;
	height: 1000px;
	/* background: #ffff80; */
}

.logo {
	display: flex;
	padding-top: 20px;
	width: 800px;
	height: 140px;
	/* background: aqua; */
}

.logo > img {
	margin: 20px 20px 20px 260px;
	width: 70px;
	height: 100px;
}

.logo_text {
	color: #fc6902ff;
	font-size: 32px;
	font-weight: bold;
	height: 140px;
	line-height: 180px;
}

.cont {
	margin: 5px 20px;
	width: 760px;
	height: 880px;
	/* background: pink; */
}

.box_email {
	margin: auto;
	padding-top: 10px;
	width: 500px;
	height: 100px;
	background: white;
}
.box_id, .box_nick_name {
	margin: auto;
	padding-top: 10px;
	width: 500px;
	height: 100px;
	background: white;
}
.box_pw {
	margin: auto;
	padding-top: 10px;
	width: 500px;
	height: 210px;
	background: white;
}
.msg_box {
	font-size: 10pt;
	color: red;
	margin: 0 0 10px 50px;
}
input:focus {
	background: #ff770017;
	outline: none;
}
.id_ok, .id_already {
	display: none;
	font-size: 10pt;
	color: red;
	margin: 0 0 10px 50px;
}


