@charset "EUC-KR";

/* 傍烹 */
html, body {
	margin: 0;
	height: 100%;
	font-family: 'Noto Serif KR', serif;	
	min-width: 1400px;
	overflow-x: hidden;
	overflow-y: auto;
}

.top_area, .left_area, .right_area{
	/* 付快胶 靛贰弊 陛瘤 */
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select:none;
}


/* Top 备开 */
.top_area {
	height: 100px;
	box-shadow: 0px 1px 4px 0px #b7b7b7;
	background-color: #FFFFFF;
	position: relative;
	min-width: 1400px;
	z-index: 10;
	background-color: yellow;
}

/* Left 备开 */
.left_area {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	height: calc(100% - 100px);
	box-shadow: 1px 0px 4px 0px #b7b7b7;
	min-height: 600px;
	background-color: maroon;
}

/* Center 备开 */
.center_area {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 340px);
	min-width: 1060px;
	height: calc(100% - 140px);
	min-height: 560px; 
	padding: 20px;
	overflow-y: auto;
	overflow-x: clip; 
}

.center_area_wrap {
	white-space: normal !important;
}


/* Right 备开 */
.right_area {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 340px);
	min-width: 1060px;
	height: calc(100% - 140px);
	min-height: 560px; 
	padding: 20px;
	overflow-y: auto;
	overflow-x: clip; 
	background-color: maroon;
}

